
{% extends "list.html" %}
{% load static %}

<!--
{% block head_list %}
<script src="{% static 'departamento/js/funciones.js' %}"></script>
{% endblock  %}
-->


{% block columnas %}
                    <tr>
                        <!--<th scope="col" style="width: 10%; text-align: center;">Id</th>-->
                        <th scope="col" style="width: 25%; text-align: center;">Nombre empresa</th>
                        <th scope="col" style="width: 25%; text-align: center;">Descripción</th>
                        <th scope="col" style="width: 15%; text-align: center;">Teléfono</th>
                        <th scope="col" style="width: 15%; text-align: center;">Estatus</th>
                        <th scope="col" style="width: 20%; text-align: center;">Opciones</th>
                    </tr>
{% endblock  %}


{% block filas %}
                       
                        {% for x in object_list %}
                            <tr>
                                <!--<td style="text-align: center;">{{ x.id_empresa }}</td>-->
                                <td >{{ x.nombre_empresa }}</td>
                                <td style="text-align: center;">{{ x.descripcion }}</td>
                                <td style="text-align: center;">{{ x.telefono }}</td>
                                <td style="text-align: center;">{% if x.estado == '1' %}
                                    Activo
                                {% else %}
                                Inactivo
                                {% endif %}</td>
                                <td style="text-align: center;"> 
                                    <a href="{% url 'crm:actualizar_empresa' x.id_empresa%}" class="btn btn-xs btn-warning" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'crm:borrar_empresa' x.id_empresa %}"  class="btn btn-xs btn-danger btn-borrar" title="Borrar" ><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

{% endblock  %}

{% block javascript %}

   
    <script type="application/javascript">

 $(function () {
  $('#data').DataTable({
      responsive: true,
      autoWidth: false,
      "language": {
                    url: '{% static 'lib/DataTables/spanish.txt' %}'
                    },
      destroy: true,
      deferRender: true,
          
      initComplete: function (settings, json) {

      }
    });
});

        
    </script>
   




{% endblock  %}