
{% extends "list.html" %}
{% load static %}

<!--
{% block head_list %}
<script src="{% static 'departamento/js/funciones.js' %}"></script>
{% endblock  %}
-->


{% block columnas %}
                    <tr>
                        <th scope="col" style="width: 10%;">Id</th>
                        <th scope="col" style="width: 30%;">Nombre empresa</th>
                        <th scope="col" style="width: 30%;">Descripción</th>
                        <th scope="col" style="width: 15%;">Teléfono</th>
                        <th scope="col" style="width: 15%;">Opciones</th>
                    </tr>
{% endblock  %}


{% block filas %}
                       
                        {% for x in object_list %}
                            <tr>
                                <td>{{ x.id_empresa }}</td>
                                <td>{{ x.nombre_empresa }}</td>
                                <td>{{ x.descripcion }}</td>
                                <td>{{ x.telefono }}</td>
                                <td> <!--  -->
                                    <a href="{% url 'crm:actualizar_empresa' x.id_empresa%}" class="btn btn-warning" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'crm:borrar_empresa' x.id_empresa %}"  class="btn btn-danger btn-borrar" title="Borrar" ><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

{% endblock  %}

{% block javascript %}

   
    <script type="application/javascript">

 $(function () {
  $('#data').DataTable({
      responsive: true,
      autoWidth: false,
      "language": {
                    url: '{% static 'lib/DataTables/spanish.txt' %}'
                    },
      destroy: true,
      deferRender: true,
          
      initComplete: function (settings, json) {

      }
    });
});

        
    </script>
   




{% endblock  %}