 
{% extends "list.html" %}
{% load humanize %}
{% load widget_tweaks %}
{% load static %}


{% block columnas %}
                    <tr >
                        <th  scope="col" style=" text-align:center; color: white;">Cliente</th>
                        <th  scope="col" style=" text-align:center; color: white;">Usuario</th>
                        <th  scope="col" style=" text-align:center; color: white;">Estatus</th>
                        <th  scope="col" style=" text-align:center; color: white;">Fecha de ingreso</th>
                        <th  scope="col" style=" text-align:center; color: white;">Descripción</th>
                        <th  scope="col" style=" text-align:center; color: white;">Opciones</th>
                    </tr>
{% endblock  %}


{% block filas %}
                       
                        {% for x in alerta %}
                            <tr >
                                <td style=" text-align:left;">{{ x.id_cliente }}</td>
                                <td style=" text-align:center;">{{ x.usuario_creacion }}</td>
                                {% if x.estatus_alerta == 'Pendiente' %}
                                    <td style="height: auto; text-align:center; color:blue"> <strong>{{ x.estatus_alerta }}</strong></td>
                                {% else %}
                                    <td style="height: auto; text-align:center; color:green"> <strong>{{ x.estatus_alerta }}</strong></td>
                                {% endif %}
                                <td style="height: auto; text-align:center;">  {{ x.fch_recordatorio }}  </td>
                                <td style="height: auto; text-align:left;">  <div style="width:200px; overflow:hidden;">{{ x.descripcion_alerta }}</div>  </td>
                                <td style="height: auto; text-align:center;"> 
                                    <a href="{% url 'crm:listar_gestiones' x.id_cliente_id %}" class="btn btn-success  btn-xs" title="Nuevo"><i class="fas fa-plus"></i> Gestión</a>
                                    <a href="{% url 'crm:actualizar_alertas_hoy' x.id_recordatorio%}" class="btn btn-warning  btn-xs" title="Editar"><i class="fas fa-edit"></i> Editar</a>
                                </td>
                            </tr>
                        {% endfor %}

{% endblock  %}

{% block javascript %}

   
    <script type="application/javascript">

 $(function () {
  $('#data').DataTable({
      responsive: true,
      autoWidth: false,
      "language": {
                    url: '{% static 'lib/DataTables/spanish.txt' %}'
                    },
      destroy: true,
      deferRender: true,
          
      initComplete: function (settings, json) {

      }
    });
});

        
    </script>
   




{% endblock  %}