
{% extends "list.html" %}
{% load humanize %}
{% load widget_tweaks %}
{% load static %}


<!--Archivo static de javascript en app cobros  -->
<script src="{% static 'js/functions.js' %}"></script>

{% block contenido %}
    <!--<div style="color: blue; padding-top: 0%; ">--><!-- style="background: white; "-->
       
            <a href="{{ context.btn_cancelar }}" class = "" style="width: 15%; height: 31px;"><i class="fas fa-times"></i></i> <strong>Cancelar</strong></a>
        
        <!--<h3 class="card-title"> <strong>Datos del Cliente</strong></h3>-->
        <!--<h3 class="card-title float-right" >Usuario seguimiento: <strong>{{ context.usuario_duenio }}</strong></h3>-->
    <!--</div>-->
    <div>
        
        <br>
        <!-- DIV para cliente class="div_cliente"-->   
           <div style=" width: 100%;  overflow: hidden; top: 5%;">
            {% for clte in cliente %} 
                <div style="  width: 40%;  float:left; ">
                    <h6 style="font-size: 13px;"><strong>Nombre:</strong> {{ clte.nombre }} </h6>
                    <h6 style="font-size: 13px;"><strong>Empresa:</strong> {{ clte.id_empresa }} </h6>
                    <h6  style="font-size: 13px;"><strong>Identidad:</strong> {{ clte.identidad }} </h6>
                    <h6 style="font-size: 13px;"><strong>Estado Civíl:</strong> {{ clte.estado_civil }}</h6>
                    <h6 style="font-size: 13px;"><strong>Fecha de Nacimiento:</strong> {{ clte.fch_nacimiento }}</h6>
                    <h6 style="font-size: 13px;"><strong>Usuario Seguimiento:</strong> {{ context.usuario_duenio }}</h6>
                </div>

                <div style="  width: 30%;  float:left;">
                    <h6 style="font-size: 13px;"><strong>Saldo Total:</strong> {{ context.saldo_total |intcomma }} </h6>
                    <h6 style="font-size: 13px;"><strong>Capital:</strong> {{ context.dias_mora }} </h6>
                    <h6 style="font-size: 13px;"><strong>Intereses:</strong> {{ context.dias_mora }} </h6>
                    <h6 style="font-size: 13px;"><strong>Días Mora:</strong> {{ context.dias_mora }} </h6>
                    <h6 style="font-size: 13px;"><strong>Promesas Incumplidas:</strong> {{context.promesas_incumplidas}}</h6>
                    <h6 style="font-size: 13px;"><strong>Último Pago:</strong> {{context.ultimo_pago}}</h6>
                </div>
                {% endfor %}

                <div style="  width: 30%;  float:right; text-align:left; ">
                    <h6 style="font-size: 13px;"><a href="#"  class="link_productos">Histórico de Productos &nbsp;(<strong>{{ context.cont_produtos }}</strong>)</a></h6>
                    <h6 style="font-size: 13px;"><a href="#"  class="link_pagos">Histórico de Pagos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<strong>{{ context.cont_pagos }}</strong>)</a></h6>
                    <h6 style="font-size: 13px;"><a href="#"  class="link_promesas">Histórico de Promesas &nbsp;&nbsp;(<strong>{{ context.cont_promesas }}</strong>)</a></h6> 
                    <h6 style="font-size: 13px;" ><a href="#" class="link_visitas">Histórico de Visitas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<strong>{{ context.cont_visitas }}</strong>)</a></h6> 
                    <h6 style="font-size: 13px;" ><a href="#" class="link_contactos">Histórico de Contactos  &nbsp;&nbsp;(<strong>{{ context.cont_contactos}}</strong>)</a></h6> 
                    <h6 style="font-size: 13px; text-align:left;"><a href="#" class="link_alerta">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><i class="far fa-bell"></i>&nbsp;Programar Alerta </strong></a></h6> 
                </div>

            </div>
        <!-- /. DIV para cliente class="div_cliente"-->

        
            
            
        <!-- DIV para ingresar_gestion class="div_ingresar_gestion"-->
            <div class=" div_ingresar_gestion" >
                    <form method="POST" action="." > 
                        {% csrf_token %}
                        <input type="hidden" name="action" value="gestion">
                        

                        <!-- BOX INGRESAR GESTIÓN -->
                                <div >
                                    <div class="form-group" >
                                        {{ context.formGuardar.descripcion }} 
                                       
                                        <br>
                                        <div >
                                            <!-- SELECT ANIDADO -->
                                                <div class="col-md-6" style="position: absolute; ">
                                                    <label style="font-size: 13px; ">&nbsp;Código:</label>
                                                        <select name="codigo" id="id_codigo" required style=" background-color: #fff; font-size: 12px; font-family: 'Verdana', sans-serif; border: 1px solid silver; border-radius: 4px; width: 25%; height: 26px;">
                                                            <option  value="0" >--------------</option>
                                                                {% for xx in codigos %}
                                                            <option value="{{ xx.id_codigo }}">{{ xx.descripcion }}</option>    
                                                                {% endfor %}
                                                        </select>
                                                </div>
                                                
                                                <div class="col-md-6" style="position: absolute; left: 18%; ">
                                                    <label style="font-size: 13px; ">&nbsp;Motivo:</label>
                                                        <select name="motivo" id="id_motivo" required style=" background-color: #fff; font-size: 12px; font-family: 'Verdana', sans-serif; border: 1px solid silver; border-radius: 4px; width: 25%; height: 26px;" ><!--onchange="ShowSelected();"-->
                                                            <option value="0">-----Seleccione Motivo-----</option>
                                                                {% for yy in motivos %}
                                                            <option value="{{ yy.id_motivo }}" data-chained="{{ yy.id_codigo_id }}">{{ yy.descripcion }}</option>    
                                                                {% endfor %}
                                                        </select>
                                                </div>
                                            <!-- /. SELECT ANIDADO -->

                                                <div  style="position: absolute; left: 36%; width: 47%;">
                                                    <label style="font-size: 13px; ">Valor:</label> <input id="valor_input" name="valor" disabled style=" font-size: 12px; border: 1px solid silver; border-radius: 4px; width: 20%; height: 26px; " type="number" step = "any">
                                                </div>

                                                <div  style="position: absolute; left: 49%; width: 49%;">
                                                    <label style="font-size: 13px; ">Fecha:</label> <input id="fecha_input" name="fecha" type="date" disabled style=" font-size: 12px; border: 1px solid silver; border-radius: 4px; width: 24%; height: 26px; ">
                                                </div>

                                                <div  style="position: absolute; left: 65%; ">
                                                    <label style="font-size: 13px; ">Hora:</label> <input type="time" id="hora_input" name="hora" disabled style="font-size: 12px; border: 1px solid silver; border-radius: 4px; height: 26px;">
                                                </div>
                            

                                            <!-- BOX BOTONES -->
                                                        <div  style="position: absolute; left: 79%; ">
                                                        <a href="{{ context.btn_cancelar }} {{ btn_cancelar }}" class = "btn btn-xs btn-danger" style="width: 150%; height: 26px;"><i class="fas fa-times"></i></i> <strong>Cancelar</strong></a>
                                                        </div>

                                                        <div  style="position: absolute; left: 88%; ">
                                                            <button type="submit" class = "btn btn-xs btn-success t eventoAjax" style=" width: 150%; height: 26px;"><i class="fas fa-save"></i> &nbsp;&nbsp;&nbsp;<strong>Guardar</strong></button>
                                                        </div>
                                            <!-- /. BOX BOTONES -->

                                        </div>
                                    </div>
                                </div>
                        <!-- /. BOX INGRESAR GESTIÓN -->
                       
                    </form>
            </div>
        <!-- /. DIV para ingresar_gestion class="div_ingresar_gestion"-->
    



        <!-- DIV para historico_gestiones class="div_historico_gestiones" -->
            <br>
            <div class=" div_historico_gestiones" >
                <div class="row" style="font-size: 12px;">
                    <div class="col-md-12" >
                        <div class="table-responsive">

                            <table class="table table-bordered table-striped"  id="data_gestiones" >
                                <thead style="background: #A4C6FF;">
                            
                                    <tr >
                                        <th  scope="col" style=" text-align:center; color: white;">Fecha</th>
                                        <th  scope="col" style=" text-align:center; color: white;">Descripción</th>
                                        <th  scope="col" style=" text-align:center; color: white;">Usuario</th>
                                        <th  scope="col" style=" text-align:center; color: white;">Código</th>
                                        <th  scope="col" style=" text-align:center; color: white;">Motivo</th>
                                    </tr>
                                
                                </thead>
                                <tbody >

                                        {% for x in gestiones %}
                                            <tr >
                                                <td style=" text-align:left;"><div style="width:130px; overflow:hidden;">{{ x.fch_gestion }}</div></td>
                                                <td style="height: auto; text-align:left;"> <div style="width:545px; overflow:hidden;"> {{ x.descripcion }} </div> </td>
                                                <td style="height: auto; text-align:center;"> <div style="width:100px; overflow:hidden;">{{ x.usuario_creacion }}</div></td>
                                                <td style="height: auto; text-align:center;"> <div style=" width:160px; overflow:hidden;">{{ x.id_codigo }}</div></td>
                                                <td style="height: auto; text-align:center;"> <div style="width:150px; overflow:hidden;">{{ x.id_motivo }}</div></td>
                                            </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        

        <!-- /. DIV para historico_gestiones class="div_historico_gestiones"-->
    </div> 


{% endblock  %}

{% block javascript %}
 <!-- MODAL -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalOneLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="width: 200%; left: -50%; top: 100%;" >
        <div class="modal-header">
            <h5 class="modal-title hcinco" id="modalOneLabel"></h5>
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>-->
            </button>
        </div>
        <div class="modal-body" >
         
          
        <!-- CARGAR TABLA PAGOS-->
            <div id="pago_mod" style="display:none;">
                <div class="row" style="font-size: 12px;">
                        <div class="col-md-12" >
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" >
                                    <thead style="background: #A4C6FF;">
                                
                                        <tr >
                                            <th  scope="col" style=" text-align:center; color: white;"><strong>Fecha del Pago</strong></th>
                                            <th  scope="col" style=" text-align:center; color: white;"><strong>Valor</strong></th>
                                            <th  scope="col" style=" text-align:center; color: white;"><strong>Usuario que Registró el Pago</strong></th>
                                            <th  scope="col" style=" text-align:center; color: white;"><strong>Fecha en que se Ingresó al Sistema</strong></th>
                                            <th  scope="col" style=" text-align:center; color: white;"><strong>Descripción</strong></th>
                                        </tr>
                                    
                                    </thead>
                                    <tbody >

                                        {% for x in pagos %}
                                                <tr >
                                                    <td style=" text-align:left;">{{ x.fecha }}</td>
                                                    <td style="height: auto; text-align:center;">  {{ x.valor |intcomma  }}  </td>
                                                    <td style="height: auto; text-align:center;"> {{ x.id_usuario }}</td>
                                                    <td style="height: auto; text-align:center;"> {{ x.fch_creacion }}</td>
                                                    <td style="height: auto; text-align:center;"> <div style="width:350px; overflow:hidden;">{{ x.descripcion }}</div></td>
                                                </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        <!-- /. CARGAR TABLA PAGOS-->  

        
        <!-- CARGAR TABLA PRODUCTOS-->
            <div id="prod_mod" style="display:none;">
                <div class="row" style="font-size: 12px;">
                        <div class="col-md-12" >
                            <div class="table-responsive">

                                <table class="table table-bordered table-striped"  id="data_gestiones" >
                                    <thead style="background: #A4C6FF;">
                                
                                        <tr >
                                            <th  scope="col" style=" text-align:center; color: white;">Tipo</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Número de Producto</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Días de Mora</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Capital</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Intereses</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Saldo Total</th>
                                        </tr>
                                    
                                    </thead>
                                    <tbody >

                                            {% for x in productos %}
                                                <tr >
                                                    <td style=" text-align:left;">{{ x.descripcion }}</td>
                                                    <td style="height: auto; text-align:left;">  {{ x.numero_producto }}</td>
                                                    <td style="height: auto; text-align:center;"> {{ x.dias_mora }}</td>
                                                    <td style="height: auto; text-align:center;"> {{ x.capital |intcomma }}</td>
                                                    <td style="height: auto; text-align:center;"> {{ x.intereses |intcomma }}</td>
                                                    <td style="height: auto; text-align:center;"> {{ x.saldo_total |intcomma }}</td>
                                                </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        <!-- /. CARGAR TABLA PRODUCTOS-->
        
        <!-- CARGAR TABLA PROMESAS-->
            <div id="prom_mod" style="display:none;">
                <div class="row" style="font-size: 12px;">
                        <div class="col-md-12" >
                            <div class="table-responsive">

                                <table class="table table-bordered table-striped"  id="data_gestiones" >
                                    <thead style="background: #A4C6FF;">
                                
                                        <tr >
                                            <th  scope="col" style=" text-align:center; color: white;">Fecha</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Hora</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Valor</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Estatus</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Motivo</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Descripción</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Fecha de Ingreso</th>
                                        </tr>
                                    
                                    </thead>
                                    <tbody >

                                            {% for x in promesas %}
                                                <tr >
                                                    <td style=" text-align:left;">{{ x.fecha }}</td>
                                                    <td style="height: auto; text-align:left;">  {{ x.hora }}  </td>
                                                    <td style="height: auto; text-align:center;"> {{ x.valor |intcomma }}</td>
                                                    {% if x.estatus_promesa == 'Incumplida' %}
                                                        <td style="height: auto; text-align:center; color:red"> <strong>{{ x.estatus_promesa }}</strong></td>
                                                    {% else %}
                                                        {% if x.estatus_promesa == 'Cumplida' %}
                                                            <td style="height: auto; text-align:center; color:green"> <strong>{{ x.estatus_promesa }}</strong></td>
                                                        {% else %}
                                                            <td style="height: auto; text-align:center; color:blue"><strong>{{ x.estatus_promesa }}</strong></td>
                                                        {% endif %}
                                                    {% endif %}
                                                    <td style="height: auto; text-align:center;"> {{ x.motivo_descrip }}</td>
                                                    <td style="height: auto; text-align:center;"> <div style="width:350px; overflow:hidden;">{{ x.descripcion }}</div></td>
                                                    <td style="height: auto; text-align:center;"> {{ x.fch_creacion }}</td>
                                                </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        <!-- /. CARGAR TABLA PROMESAS-->

        <!-- CARGAR TABLA VISITAS-->
            <div id="vis_mod" style="display:none;">
                <div class="row" style="font-size: 12px;">
                        <div class="col-md-12">
                            <div class="table-responsive">

                                <table class="table table-bordered table-striped"  id="data_gestiones" >
                                    <thead style="background: #A4C6FF;">
                                        <tr >
                                            <th  scope="col" style=" text-align:center; color: white;">Fecha Creación</th>
                                            <!--<th  scope="col" style=" text-align:center; color: white;">Descripción</th>-->
                                            <th  scope="col" style=" text-align:center; color: white;">Lugar</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Usuario</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Estatus</th>
                                            <!--<th  scope="col" style=" text-align:center; color: white;">Fecha que se Visitó</th>-->
                                            <th  scope="col" style=" text-align:center; color: white;">Respuesta de la Visita</th>
                                        </tr>
                                    </thead>
                                    <tbody >

                                            {% for x in visitas %}
                                                <tr >
                                                    <td style="height: auto; text-align:left;">  {{ x.fch_creacion }}  </td>
                                                    <!--<td style="height: auto; text-align:center;"> <div style="width:400px; overflow:hidden;">{{ x.lugar }}</div></td>-->
                                                    <td style="height: auto; text-align:center;"> {{ x.motivo_descrip }}</td>
                                                    <td style="height: auto; text-align:center;"> {{ x.id_usuario }}</td>
                                                    {% if x.estatus_visita == 'Localizado sin Promesa' or x.estatus_visita == 'Dirección Incorrecta' %}
                                                        <td style="height: auto; text-align:center; color:red"> <strong>{{ x.estatus_visita }}</strong></td>
                                                    {% else %}
                                                        {% if x.estatus_visita == 'Localizado con Promesa' %}
                                                            <td style="height: auto; text-align:center; color:green"> <strong>{{ x.estatus_visita }}</strong></td>
                                                        {% else %}
                                                            <td style="height: auto; text-align:center; color:blue"><strong>{{ x.estatus_visita }}</strong></td>
                                                        {% endif %}
                                                    {% endif %}
                                                    <!--<td style="height: auto; text-align:center;"> {% if x.fch_visita_realizada == Null %}
                                                    
                                                    {% else %}
                                                    {{ x.fch_visita_realizada }}
                                                    {% endif %}</td>-->
                                                    <td style="height: auto; text-align:center;"> <div style="width:400px; overflow:hidden;">{{ x.respuesta_visita }}</div></td>
                                                </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        <!-- /. CARGAR TABLA VISITAS-->

        <!-- CARGAR TABLA CONTACTOS-->
            <div id="cont_mod" style="display:none;">
                <div class="row" style="font-size: 12px;">
                        <div class="col-md-12" >
                            <div class="table-responsive">

                                <table class="table table-bordered table-striped"  id="data_gestiones" >
                                    <thead style="background: #A4C6FF;">
                                
                                        <tr >
                                            <th  scope="col" style=" text-align:center; color: white;">Tipo de Contacto</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Descripción</th>
                                            <th  scope="col" style=" text-align:center; color: white;">Comentario</th>
                                        </tr>
                                    
                                    </thead>
                                    <tbody >

                                            {% for x in contactos %}
                                                <tr >
                                                    <td style=" text-align:left;">{{ x.tipo_contacto }}</td>
                                                    <td style="height: auto; text-align:center;"> <div style="width:400px; overflow:hidden;">{{ x.descripcion }}</div></td>
                                                    <td style="height: auto; text-align:center;"> <div style="width:400px; overflow:hidden;">{{ x.comentario }}</div></td>
                                                </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        <!-- /. CARGAR TABLA CONTACTOS-->

        <!-- AGREGAR ALERTA-->
            <div id="alert_mod" style="display:none;">
                <form method="POST" action="." >
                    {% csrf_token %}
                    <input type="hidden" name="action" value="alerta">
                    <label style="position: fixed; left:31.5%;">Fecha:&nbsp;&nbsp;</label> <input type="date" required name="fch_recordatorio" style="position: fixed; left:37%; border: 1px solid silver; border-radius: 4px; width: 15%;" min="{{ context.fecha_actual }}">
                    <label style="position: fixed; left:55%; ">Hora:&nbsp;&nbsp;</label> <input type="time" required name="hora_recordatorio" style="position: fixed; left:60%;border: 1px solid silver; border-radius: 4px; ">
                    <br><br>
                    {{context.form_alerta.descripcion_alerta }}
            </div>
        <!-- /. AGREGAR ALERTA-->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal">&nbsp;&nbsp;&nbsp;<strong>Salir</strong>&nbsp;&nbsp;&nbsp;</button>
            <div id="guardar_alert_mod" style="display:none;">
            <button type="submit" class="btn  btn-xs btn-primary">Guardar</button>
            </div>
        </div>
        </div>
    </div>
    </div>
<!-- /. MODAL -->

<script type="application/javascript">

// INICIO SELECT ANIDADO
    $("#id_motivo").chained("#id_codigo");
// FIN SELECT ANIDADO


// INICIO DATATABLE
    $(function () {
    $('#data_gestiones').DataTable({
        //responsive: true,
        autoWidth: false,
        "language": {
                        url: '{% static 'lib/DataTables/spanish.txt' %}'
                        },
            /*columnDefs: [{
                width: "10px",
                targets: 0
            },
            {
                width: "35px",
                targets: 1
            },
            {
                width: "15px",
                targets: 2
            },
            {
                width: "15px",
                targets: 3
            },
            {
                width: "15px",
                targets: 4
            }
            ],*/
        destroy: true,
        deferRender: true,
            
        initComplete: function (settings, json) {

        }
        });
    });
// FIN DATATABLE

// INICIO ACTIVACIÓN DE MODAL
  
    $('.link_productos').on('click', function () {
        var contenedor = document.getElementById("pago_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("prom_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("vis_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("cont_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("alert_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("guardar_alert_mod");		
        contenedor.style.display = "none";

        var contenedor2 = document.getElementById("prod_mod");		
        contenedor2.style.display = "block";
        document.getElementById("modalOneLabel").innerHTML = "Histórico de Productos";
        $('#modal').modal('show');
    });

    $('.link_pagos').on('click', function () {
        var contenedor = document.getElementById("prod_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("prom_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("vis_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("cont_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("alert_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("guardar_alert_mod");		
        contenedor.style.display = "none";

        var contenedor2 = document.getElementById("pago_mod");		
        contenedor2.style.display = "block";
        document.getElementById("modalOneLabel").innerHTML = "Histórico de Pagos";
	        $('#modal').modal('show');
    });

    $('.link_promesas').on('click', function () {
        var contenedor = document.getElementById("prod_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("pago_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("vis_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("cont_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("alert_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("guardar_alert_mod");		
        contenedor.style.display = "none";

        var contenedor2 = document.getElementById("prom_mod");		
        contenedor2.style.display = "block";
        document.getElementById("modalOneLabel").innerHTML = "Histórico de Promesas";
	        $('#modal').modal('show');
    });

    $('.link_visitas').on('click', function () {
        var contenedor = document.getElementById("prod_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("pago_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("prom_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("cont_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("alert_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("guardar_alert_mod");		
        contenedor.style.display = "none";

        var contenedor2 = document.getElementById("vis_mod");		
        contenedor2.style.display = "block";
        document.getElementById("modalOneLabel").innerHTML = "Histórico de Visitas";
	        $('#modal').modal('show');
    });

    $('.link_contactos').on('click', function () {
        var contenedor = document.getElementById("prod_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("pago_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("prom_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("vis_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("alert_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("guardar_alert_mod");		
        contenedor.style.display = "none";

        var contenedor2 = document.getElementById("cont_mod");		
        contenedor2.style.display = "block";
        document.getElementById("modalOneLabel").innerHTML = "Datos para contactar al cliente";
	        $('#modal').modal('show');
    });
        
    $('.link_alerta').on('click', function () {
        var contenedor = document.getElementById("prod_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("pago_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("prom_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("vis_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("cont_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("guardar_alert_mod");		
        contenedor.style.display = "none";

        var contenedor2 = document.getElementById("alert_mod");		
        contenedor2.style.display = "block";
        document.getElementById("modalOneLabel").innerHTML = "¡Ingrese los datos para la alerta!";
	        $('#modal').modal('show');
    });
    
    $('.link_alerta').on('click', function () {
        var contenedor = document.getElementById("prod_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("pago_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("prom_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("vis_mod");		
        contenedor.style.display = "none";
        contenedor = document.getElementById("cont_mod");		
        contenedor.style.display = "none";

        var contenedor2 = document.getElementById("guardar_alert_mod");		
        contenedor2.style.display = "block";
    });
// FIN ACTIVACIÓN DE MODAL


// INICIO VALIDACIÓN INPUT EN DISABLED
    /*function ShowSelected()
    {
        var cod = document.getElementById("id_motivo").value;
        alert(cod);
    }*/
    $('#id_motivo').on('click', function () {
    var id = $('#id_motivo').val();
    var hoy = new Date();    
    var anio = hoy.getFullYear();
    var dia = hoy.getDate();
    var mes = hoy.getMonth()+1;

    if(dia<10) {
    dia='0'+dia;
    } 
    
    if(mes<10) {
        mes='0'+mes;
    }

    var fecha = String(anio) + "-" + String(mes) + "-" + String(dia);

    if (id == 4) { // arreglo de pago
        document.getElementById('valor_input').disabled = false;
        document.getElementById('fecha_input').disabled = false;
        document.getElementById('hora_input').disabled = false;
        $("#valor_input").val("");
        document.getElementById('valor_input').placeholder = "Monto arreglo";
        document.getElementById('valor_input').required = true;
        document.getElementById('fecha_input').required = true;
        document.getElementById('hora_input').required = true;
        $("#fecha_input").val("");
        $("#hora_input").val("");
        document.getElementById('fecha_input').min = fecha;
        document.getElementById('fecha_input').max = "2050-12-30";
    } else {
        if (id == 6) { //promesa
            document.getElementById('valor_input').disabled = false;
            document.getElementById('fecha_input').disabled = false;
            document.getElementById('hora_input').disabled = false;
            $("#valor_input").val("");
            document.getElementById('valor_input').placeholder = "Monto promesa";
            document.getElementById('valor_input').required = true;
            document.getElementById('fecha_input').required = true;
            document.getElementById('hora_input').required = true;
            $("#fecha_input").val("");
            $("#hora_input").val("");
            document.getElementById('fecha_input').min = fecha;
            document.getElementById('fecha_input').max = "2050-12-30";
        }else {
            if (id == 7) { //monto pagado
                document.getElementById('valor_input').disabled = false;
                document.getElementById('fecha_input').disabled = false;
                document.getElementById('hora_input').disabled = true;
                $("#valor_input").val("");
                document.getElementById('valor_input').placeholder = "Monto pago";
                document.getElementById('valor_input').required = true;
                document.getElementById('fecha_input').required = true;
                document.getElementById('hora_input').required = false;
                $("#fecha_input").val("");
                $("#hora_input").val("");
                document.getElementById('fecha_input').max = fecha;
                document.getElementById('fecha_input').min = "2010-12-30";
            }else {
                $("#fecha_input").val("");
                $("#hora_input").val("");
                $("#valor_input").val("");
                document.getElementById('valor_input').disabled = true;
                document.getElementById('fecha_input').disabled = true;
                document.getElementById('hora_input').disabled = true;
                document.getElementById('valor_input').placeholder = "";
                document.getElementById('valor_input').required = false;
                document.getElementById('fecha_input').required = false;
                document.getElementById('hora_input').required = false;
                
            }
        }
    }
    
       
    });
// FIN VALIDACIÓN INPUT EN DISABLED

</script>






{% endblock  %}