<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
       
            <table style="background: black; width: 800px;" >
                                <thead style="background: #6CA3FC;">
                            
                                    <tr >
                                        <!--<th scope="col" style="width: 5%; text-align:center">Id</th>-->
                                        <th   style=" text-align:center; color: white;">Fecha</th>
                                        <th   style=" text-align:center; color: white;">Descripción</th>
                                        <th  style=" text-align:center; color: white;">Usuario</th>
                                        <th   style=" text-align:center; color: white;">Código</th>
                                        <th   style=" text-align:center; color: white;">Motivo</th>
                                    </tr>
                                
                                </thead>
                                <tbody >

  
                                            <tr >
                                                <!--<td style ="width: 15%; text-align:left;">{{ x.id_gestion }}</td>-->
                                                <td  style="width:220px; color: white;">Sept. 22, 2020, 6:15 p.m.</td>
                                                <td  style="width:20px; color: white;">qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</td>
                                                <td  style="width:220px; color: white;">admin</td>
                                                <td  style="width:220px; color: white;">Localizado</td>
                                                <td  style="width:220px; color: white;">Negativa de Pago</td>
                                            </tr>
                          

                                </tbody>
                            </table>
      
</body>
</html>