{% extends "list.html" %}
{% load static %}

<!--
{% block head_list %}
<script src="{% static 'departamento/js/funciones.js' %}"></script>
{% endblock  %}
-->



{% block columnas %}
                    <tr>
                        <th scope="col" style="width: 10%;">Id</th>
                        <th scope="col" style="width: 70%;">Nombre Departamento</th>
                        <th scope="col" style="width: 15%;">Opciones</th>
                    </tr>
{% endblock  %}


{% block filas %}
                        <!-- se cometa ya que se usará AJAX para hacer la carga de datos  -->
                        <!--{% for x in object_list %}
                            <tr>
                                <td>{{ x.id_departamento }}</td>
                                <td>{{ x.nombre }}</td>
                                <td>
                                    <a href="{% url 'crm:actualizar_departamento' x.id_departamento %}" class="btn btn-warning" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'crm:borrar_departamento' x.id_departamento %}"  class="btn btn-danger btn-borrar" title="Borrar" ><i class="fas fa-trash-alt"></i></a>
                                    onClick="fun_borrar({{x.id_departamento}},'{{x.nombre}}')" 
                                </td>
                            </tr>
                        {% endfor %}-->

{% endblock  %}

{% block javascript %}

    <!-- para activar DataTables -->
    <script type="application/javascript">

        $(function () {
  $('#data').DataTable({
      responsive: true,
      autoWidth: false,
      "language": {
                    url: '{% static 'lib/DataTables/spanish.txt' %}'
                    },
      destroy: true,
      deferRender: true,
      ajax: {
          url: window.location.pathname,
          type: 'POST',
          data: {
              'action': 'searchdata'
              
          },
          dataSrc: ""
      },
      columns: [
          {"data": "id_departamento"},
          {"data": "nombre"},
          {"data": "opciones"},
      ],
      columnDefs: [
          {
              targets: [-1],
              class: 'text-center',
              orderable: false,
              render: function (data, type, row) {
                  var buttons = '<a href="/cobros/departamento/actualizar/'+ row.id_departamento +'/" class="btn btn-warning btn-xs" title="Editar"><i class="fas fa-edit"></i></a> ';
                  buttons += '<a href="/cobros/departamento/borrar/'+ row.id_departamento +'/"  class="btn btn-danger btn-borrar btn-xs" title="Borrar" ><i class="fas fa-trash-alt"></i></a>';
                  return buttons;
              } 
          },
      ],
      
      initComplete: function (settings, json) {

      }
      
      
  });
  
});

        /*$(document).ready(function() {
            $('#diseniotabla').DataTable({
                "language": {
                    url: '{% static 'lib/DataTables/spanish.txt' %}'
                    }
            });*/

            /*$('.eventoAjax').on('click', function () {
                //$.ajax({}).done(function (data) {}).fail(function (jqXHR, textStatus, errorThrown) {}).always(function (data) {});
                $.ajax({
                    url: '{% url 'crm:listar_departamento' %}',
                    type: 'POST',
                    data: {id_departamento: 2}, //
                    dataType: 'json'
                }).done(function (data) {//singresa si al hacer la petición POST no tiene errores la petición de la vista en views.py
                    console.log(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus+': '+errorThrown);
                }).always(function (data) {

                });
            });

            

        });*/

        // inicio evento sweetAlert
        /*$('.btn-borrar').on('click', function () {
                var fila= $(this).closest("tr");  
                var id = parseInt(fila.find('td:eq(0)').text()) 
                var nombre = fila.find('td:eq(1)').text()
                
                Swal.fire({
                  title: '¿Seguro que desea borrar el registro: '+ nombre +'?',
                  text: "¡Esta acción no se puede revertir!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: '¡Sí, borrarlo!'
                }).then((result) => { 
                  if (result.value == true) {
                    try {
                      //var fila= $(this).closxsest("tr"); 

                      // inicio ajax
                      //var parameters = $(this).serializeArray();
                      
                      $.ajax({
                      data: {
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                      },
                      url: '/cobros/departamento/borrar/'+id+'/',
                      type: 'post',
                      success: function (response) {
                          Swal.fire(
                            '¡Borrado!',
                            'El registro ha sido eliminado satisfactoreamente.',
                            'success'
                          )
                      },
                      error: function (error) {
                        Swal.fire(
                        'Eoor!',
                        'ha ocurrido un error.',
                        'error'
                        )
                      }  
                      

                      });
                      //fin ajax
                     
                      
                    } catch( err ) {
                      Swal.fire(
                      'Eoor!',
                      'ha ocurrido un error.'+ err +'',
                      'error'
                      )
                    } 
                
                  }
                })       

        });*/
        // final evento sweetAlert

        
    </script>
    <!-- /.para activar DataTables -->




{% endblock  %}